.subscribe-button {
  background-color: rgb(200, 0, 0);
  color: white;
  border: none;
  height: 37px;
  width: 100px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 8px;
}
.join-button {
  background-color: white;
  color: rgb(41, 118, 211);
  border-color: rgb(41, 118, 211);
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  cursor: pointer;
  height: 37px;
  width: 65px;
  margin-right: 8px;
}
.tweet-button {
  background-color: rgb(20, 110, 255);
  color: white;
  height: 37px;
  width: 74px;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  font-size: 15px;
}
