.thumbnail {
  width: 100%;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}
.video-author {
  margin-bottom: 4px;
}
.hamberger-menu {
  height: 24px;
  margin-right: 20px;
  margin-left: 24px;
}
.youtube-logo {
  height: 20px;
}
.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}
.video-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.profile-picture {
  width: 36px;
  border-radius: 50%;
}
.thumbnail-row {
  margin-bottom: 12px;
  position: relative;
  margin-bottom: 8px;
}
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 17px;
  row-gap: 40px;
}
